## SMTP credentials
RECEIVER_EMAIL=contact@chariot.tools 

## SSO URLs
NEXT_PUBLIC_LOGIN_URL=https://exemple.com
NEXT_PUBLIC_CHARIOT_URL=https://exemple.com
NEXT_PUBLIC_KEYCLOAK_URL=https://exemple.com