## SMTP credentials
NEXT_PUBLIC_RECEIVER_EMAIL=contact@chariot.tools 

## Application URL
NEXT_PUBLIC_CHARIOT_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8082
SHOWCASE_HOST=chariot.tools

## SSO URLs
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080/auth
NEXT_PUBLIC_KEYCLOAK_REALM=chariot 
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=chariot-app 

## Stripe
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_DISABLE_CHECKOUT=false
NEXT_PUBLIC_NEWSLETTER_ENABLED=false

DISCORD_NEWSLETTER_WEBHOOK_URL=